<div class="container">
	<h1>Acerca de</h1>
	<h2>¿Qué es este sitio?</h2>
	<p>Este sitio es un generador de contratos y expedientes automático de la compañía Arquitectura Fiscal. Genera contratos para las personas morales Dream y Vaesa.</p>

	<p>Esta aplicación web fue desarrollada por <a href="http://rodrigotello.me">Rodrigo Tello</a>.
</div>