<div class="container">
	<h1>Acerca de</h1>
	<h2>¿Qué es este sitio?</h2>
	<p>Este sitio es un generador de contratos y expedientes automático de la compañía Arquitectura Fiscal. Genera contratos para las personas morales Dream y Vaesa.</p>

	<h2>Limpiador</h2>
	<p>Esta aplicación guarda una versíón de cada archivo con cada variante. Con el fin de no saturar la memoría de la aplicación, ahorrar costos de almacenaje y computación remota, es recomendable limpiar la memoría. Para entrar a la ubicación de la memoría <strong><%= link_to 'entra aquí.', cleaner_path, class: "text-link" %></strong> </p>

	<p>Esta aplicación web fue desarrollada por <a href="http://rodrigotello.me">Rodrigo Tello</a>.
</div>