<div class="container">
	<div class="home-folding-wrapper">
		<%= image_tag 'aflogo.jpg' %>
		<h1>Generador de contratos</h1>
		<h2>Ingresa los datos del empleado y automatiza el proceso de contratos.</h2>
		<p>Aplicación para la automatización de contratos</p>
		<div class="top-marginer"><%= link_to 'Crear contratos', new_path, class: "button-big top-marginer"%></div>
	</div>
</div>

