<div class="container">
	<div class="home-folding-wrapper">
		<h1>Generador de contratos</h1>
		<h2>Ingresa los datos del empleado y automatiza el proceso de contratos.</h2>
		<p>Aplicación para la automatización de contratos</p>
		<%= link_to 'Crear contratos', new_path, class: "button-big"%>
	</div>
</div>

