<div class="nav-bar">
	<div class="container">
		<h3>Arquitectura Fiscal</h3>
			<%= link_to 'Crear contratos', new_path %>
			<%= link_to 'Acerca de', help_path %>
			<%= link_to 'Inicio', root_path %>
	</div>
</div>